body {
    display: block;
    background-color: #f8f8f8;
    padding: 1em 1em;
    font: 1em Verdana, Geneva, sans-serif;
}

.wrapper{
    max-width: 50em;
	min-width: 30em;
    margin: auto;
    padding: 2em ;
    box-shadow: 0em 0em 3em grey;
}

.head, .footer{
    border-bottom-style: inset;
    border-width: 0.5em;
    border-color: #1993d1;
    /*border-bottom-right-radius: 0.5em;*/
    /*border-bottom-left-radius: 0.5em;*/
    padding: 1em;
    max-width: 49em;
    margin: 1em;
    text-align: center;
}


#name, .text{
    display: inline-block;
    min-width: 60%;
	height: 5em;
}
#email{
    display: inline-block;
    width: auto;
	height: 5em;
	vertical-align: top;
}

#email, #name, .text{
    margin: 0 auto;
    padding: 0.5em;
    border: solid 0.1em #E5E5E5;
    border-radius: 0.5em;
    box-shadow: rgba(0,0,0, 0.1) 0em 0em 1em;
}

#email img{
	width: 5em;
}

#accordion{
	max-width: 40em;
	margin: auto;
}

h3{
	/*font-size: 1.5em;*/
	font-weight: bold;
}

.footer{
	border-bottom-style: none;
	/*border-top-style: outset;*/
}
/* # vim:set ts=4 sw=4 noet: */
