# Latex files
*.aux
*.log
*.toc
*.bbl
*.dvi
*.synctex.gz
*.out
*.brf
*.bak
*.cls
*.bst
*.bib.bak

# Images and other files
*.bm
#*.gif
*.blg
*.ps

# LibreOffice lock file
*\#

# Building files
*.class
*.o

# Compacted files
*.7z
*.rar
*.zip
*.tar
*.tar.*
*.lzma
