# Latex files
*.aux
*.log
*.toc
*.bbl
*.dvi
*.synctex.gz
*.out
*.brf
*.bak

# Images and other files
*.jpg
*.bm
*.png
*.gif
*.eps
*.blg
*.ps
*.pdf

# LibreOffice lock file
*\#

# Building files
*.class
*.o

# Compacted files
*.7z
*.rar
*.zip
*.tar
*.tar.*
*.lzma 
